@import "header.css";
@import "about.css";
@import "shortmovies.css";
@import "style.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Wix Madefor Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0 auto;
  width: 1920px;
  height: 1080px;
	background-color: rgb(203, 203, 203, 0.2);
}


.info_about_me {
	position: absolute;
	margin-top: 40px;
	padding-top: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-left: 180px;
	gap: 100px;
}

.about_me {
	margin: 0 auto;
	font-size: 30px;
	text-align: center;
}

.info {
	font-size: 20px;
}

.photo_about {
	width: 600px;
	height: 600px;
}

