@import "header.css";
@import "about.css";
@import "shortmovies.css";
@import "style.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Wix Madefor Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0 auto;
  width: 1920px;
  height: 1080px;
	background-color: rgb(203, 203, 203, 0.2);
}


.short_movies {
	margin-top: 40px;
	
	padding-top: 30px;
	margin-left: 180px;
	gap: 100px;
}

.video_wrapper {
	border: 1px solid black;
	border-radius: 10px;
	box-sizing: border-box;
}

